*
{
    padding:0px;
    margin:0px;
    box-sizing:border-box;
}

body{
    font-size:1.4rem;
    font-family:'Courier New', Courier, monospace;
    color:white;
    background-color:black;
    text-align:center;
    width:100vw;
    z-index:0;
}

#Main-Nav-Container
{
    position:relative;
    background-color:rgba(25,25,25,1);
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    border-radius:5px 0 5px 0;
}

#Nav-Items
{
    display:flex;
    flex-direction:row;
    justify-content: space-evenly;
    margin-left:2vw;
}

.Items
{
    cursor:pointer;
    padding:2vh 1vw;
    opacity:0.4;
    border:2px solid transparent;
    margin:0 1vw;
}

.Items:hover
{
    transition:all 0.4s ease-in-out;
    opacity:1;
    border-bottom:2px solid white;
    border-top:2px solid white;
}

#Log-In>button
{
    float:right;
    background-color:transparent;
    color:white;
    border:2px solid white;
    padding:2vh 1vw;
    font-size:1.4rem;
    opacity:0.7;
    margin-right:1vw;
    border-radius:5px;
}

#Log-In>button:hover
{
    transition:all 0.3s ease-in-out;
    background-color:white;
    opacity: 1;
    border-radius:10px;
    color:black;
}

#Log-In-Pop-Up
{
    background-color:black;
    /* opacity: 0; */
    z-index:-5;
    position:absolute;
    top:20vh;
    left:20vw;
    width:60vw;
    height:60vh;
    border:2px solid white;
    border-radius:10px;
}

#Body-Container
{
    z-index: 1;
    background-color: black;
    display:flex;
    flex-direction:row;
    justify-content: space-evenly;
}

#Body-Container>div
{
    background-color: grey;
    margin:1vh 1vw;
    width: 50vw;
    height: 80vh;
 
}

#Input-Field>form>input
{
    width:20%;
    height: 5vh;
    margin:2vh 0;
}

#Body-Container>div>.Top-Block
{
    display:flex;
    flex-direction:row;
    justify-content: space-evenly;
}

#Body-Container>#Left-Container>.Top-Block>div
{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin:1vh 0;
    width:30%;
    padding:10vh 0;
    background-color:red;
}

#Body-Container>#Right-Container>.Top-Block
{
    flex-direction: column;
}

#Body-Container>#Right-Container>.Top-Block>div
{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin:1vh 0;
    width:100%;
    padding:1vh 0;
    background-color:blue;
}

#Body-Container>#Right-Container
{
    flex-direction: column;
}



