*
{
    padding:0px;
    margin:0px;
    box-sizing:border-box;
}

body{
    font-size:1.4rem;
    font-family:'Courier New', Courier, monospace;
    color:white;
    background-color:black;
    text-align:center;
}