*
{
    padding:0px;
    margin:0px;
    box-sizing:border-box;
}

body{
    font-size:1.4rem;
    font-family:'Courier New', Courier, monospace;
    color:white;
    background-color:black;
    text-align:center;
    width:100vw;
}

#Main-Nav-Container
{
    position:relative;
    background-color:rgba(25,25,25,1);
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    border-radius:5px 0 5px 0;
}

#Nav-Items
{
    display:flex;
    flex-direction:row;
    justify-content: space-evenly;
    margin-left:2vw;
}

.Items
{
    cursor:pointer;
    padding:2vh 1vw;
    opacity:0.4;
    border:2px solid transparent;
    margin:0 1vw;
}

.Items:hover
{
    transition:all 0.4s ease-in-out;
    opacity:1;
    border-bottom:2px solid white;
    border-top:2px solid white;
}

#Log-In>button
{
    float:right;
    background-color:transparent;
    color:white;
    border:2px solid white;
    padding:2vh 1vw;
    font-size:1.4rem;
    opacity:0.7;
    margin-right:1vw;
    border-radius:5px;
}

#Log-In>button:hover
{
    transition:all 0.3s ease-in-out;
    background-color:white;
    opacity: 1;
    border-radius:10px;
    color:black;
}

